@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-serif;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #303030;
}
/* :: Top Wrap */
.top_wrap {
  background-color: #f8f8f8;
  padding: 10px 0;
  color: #303030;
  font-size: 14px;
}
.social_icon {
  text-align: right;
}
.social_icon a {
  color: #303030;
  transition: 0.3s;
  padding: 5px;
}
.social_icon a:hover {
  color: rgb(116, 116, 116);
}

/* :: Header  */
header {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
nav {
  border-bottom: 1px solid #ccc;
}
/* =================================
        :: Navbar reset css 
====================================*/
.navbar {
  padding: 20px 0;
}
a#navbarDropdown:focus {
  outline: none;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
  outline: none;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #303030;
  padding: 0px 15px 0px 15px;
}

/* :: Main CSS */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* :: Testimonials */
#testimonials {
  background: url(../images/testimonial-bg.png) no-repeat center center;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border-top: 1px solid #ccc;
}
/* :: Footer  */
footer {
  background-color: #f8f8f8;
  color: #303030;
  padding: 10px;
}

.footer {
  padding: 7rem 0 5rem 0;
}
.footer-header {
  margin-bottom: 20px;
}
.footer h2 {
  color: #303030;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
.footer-header h2::after {
  content: " ";
  width: 25px;
  height: 2px;
  background-color: #000;
  position: absolute;
  display: block;
  top: 100%;
}
.footer ul {
  margin-left: 0;
}
.footer ul li {
  margin-left: -20px;
  list-style: none;
  padding: 3px 0px;
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
}
.footer ul li a {
  color: #4d4d4d;
}
.footer-header .footer-logo {
  max-width: 160px;
}
.footer_add ul li {
  list-style: none !important;
}
.footer p {
  color: #4d4d4d;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6rem;
}
.footer-socail-icon a {
  padding: 8px;
}

/* Copyright */
#copyright {
  border-top: 1px solid #ccc;
  padding: 2rem 0;
}
.powerby {
  text-align: right;
}
.powerby a {
  color: red;
}
